
:root{
	--FFEblue: rgb(87,150,203);
}


.mdperror{
	color:red;
	background-color:lightgreen;
	max-width: 200px;
	border:dotted 2px;
}
main{
	display: block;
	width: 600px;
	margin: auto;
	min-height: 400px;
	background-color:var(--FFEblue);
	padding-bottom: 10px;
	padding-top: 10px;
}
section{
	background-color:var(--FFEblue);
}
main section{
	vertical-align:top;
	display: inline-block;
	height:341px;	
}
section.login{
	min-width:290px;
	width:40%;
	padding-left: 10px;
}
section.image{
	/*background-color:red;	*/
}
section.message{
	display: block;
	margin:auto;
	width:60%;
	min-width: 280px;
	max-width: 580px;
	min-height: 50px;
	padding: 10px;
}
@media only screen and (max-width: 600px){
	section.login{
		height: 250px;
	}
	main{
		width: 300px;
		height: 250px;
	}
	section.image{
		display: none;
	}
	section.message{max-width: 280px;}
}

input{
	min-height:20px;
	margin:2%;
	border-radius:0.6rem;
}

.btnSubmit{
	font-weight: 600;
	width: 50%;
	max-width: 150px;
	color: black;
	background-color: rgb(150,150,150);
	border: none;  
	border-radius: 1.5rem;
	padding:2%;
}




/*Base*/
.login-logo{
	position: relative;
	margin-left: -50.5%;
}
.login-logo img{
	position: absolute;
	width: 35%;
	margin-top: 13%;
	border-radius: 4.5rem;
	padding: 5%;
}
.login-form-1{
	padding: 9%;
	background:#5796CB;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
	text-align: center;
	margin-bottom:12%;
	color:#fff;
}
.login-form-2{
	padding: 9%;
	background: #FEFFFF;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.imagee{
	margin-left: -0.5%;
	position: absolute;
	width: 30%;
	margin : 0 auto;
	border-radius: 4.5rem;
	padding: 0%;
}

/* poop inscrption */
