/*tableau de bord*/
/*==================   HEADER ==============*/
:root{
	--headerHeight: 120px;
	--navWidth: 200px;
	--FFEblue: rgb(87,150,203);
	--myborder:solid 5px var(--FFEblue);
}
i{color: green;}
div{
	display: inline-block;
	vertical-align: middle;
}
header{
	position:fixed;
	z-index:10;
	top:0px;
	left:0px;
	right:0px;
	height:var(--headerHeight);
	background-color:var(--FFEblue);
	display: block;
}
.myheader{
	height: var(--headerHeight);
}
body{ 
	padding-top:var(--headerHeight);
}


div.shortcuts{
	position: absolute;
	vertical-align: middle;
	right:10px;
	bottom:0px;
}
div.myslide{
	display: none;
	z-index: 101;
	height:100px;
	width: 100px;
}
span:hover + div.myslide{
	display: inline-block;
}


@media only screen and (max-width: 699px){
	header .ffe img{
		display:none;
	}
	div.ffe{
		background-color: white;
		margin-left: 5px;
		margin-right: 5px;
		height: 110px/*calc(var(--headerHeight)-10px)*/;
		padding-left: 3px;
		padding-right: 3px;
	}
}
@media only screen and (min-width: 700px){
	header .ffe h2{
		display:none;
	}
}

/*=================== NAV =========================*/
nav{
	position:fixed;
	z-index:0;
	left:0px;
	top:var(--headerHeight);
	bottom:0px;
	background-color:var(--FFEblue);
	width: var(--navWidth);
}
ul{
	margin-left: -20px;
}
@media only screen and (min-width: 900px){
	.unnav{display: none;}

	body{
		padding-left:var(--navWidth);
	}
}

@media only screen and (max-width: 899px){
	nav,nav *{
		display:none;
	}
	:root{
	--navWidth: 0px;
	}
}




/*==================   comptes ==============*/
/*section{
	background-color:coral;
}*/
section.mouvementsCompte,section.mvtAtt,section.logins,section.divers{
	display: inline-block;
	vertical-align: top;
	margin-top:20px;
	border: var(--myborder);
	padding:5px;
	position:relative;
	overflow: auto;
	/*max-height: 300;*/
}
section.mouvementsCompte{
	min-width: 70%;
}
span.compte{
	position:absolute;
	left:10px;
}
span.solde{
	position:absolute;
	right:10px;
	text-align: right;
}

table{
	margin-top:20px;
}
td{
	text-align:center;
}
tr.alpha{background-color:rgba(50,200,50,0.15);}
tr.beta {background-color:rgba(50,50,200,0.15);}



/*====================produits catalogue===========*/
div.produit{
	display:inline-block;
	vertical-align:top;
	width:200px;
	min-height:250px;
	background-color:white;
	position:relative;
	margin-left:2%;
	margin-top:3%;
	padding-left:8px;
	padding-right:3px;
	padding-top:3px;
	border:solid 5px white;
	position: relative;
}
div.produit:hover{
	border:ridge 5px green;

}
div.produit img{
	width:150px;
	height:150px;
	display:block;
}
div.catalinks{
	position: absolute;
	top: 200px;
}
.l{
	left: 2px;
}
.r{
	right: 2px
}
.h{display: inline-block;}
h3.h{padding-bottom: 0px;}
h4.h{padding-top: 0px;
margin-top: 0px;}
/*=====================panier============================*/
section.panier{
	margin-top:20px;
	padding:10px;
	max-width:600px;
	position:relative;
	border: var(--myborder);
}
form.plusOuMoins{
	display:inline-block;
}
td.panier{
	text-align: right;
}

div.adresse{
	min-height:70px;
	max-height: 300px;
	display:inline-block;
	min-width:100px;
	max-width:300px;
	padding:10px;
	border:solid 5px white;
	/*background-color:yellow;*/
}
div.adresse:hover{
	border:5px ridge green;
}
div.adresse h3{
	margin-top: 0px;
	margin-bottom: 0px;
}

/*===================== ajout beneficiaire ============================*/
table.ajoutBenef{
	width: 100%;
}
textarea{
	width: calc(100% - 25px);

}

/*=====================================  general stuff ===============================================*/
button,input[type=submit],input[type=reset]{
	border-radius: 10px;
}

details[class*=ajout]{
	padding-left: 20px;
	border:var(--myborder);
}
details.ajout{
	max-width: 300px;
}
section.logins table tr th{
	border:2px flat var(--FFEblue);
}
section.logins table tr td{
	border:2px ridge var(--FFEblue);
}